body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:8px;
  width:159px;
  height:42px;
  font-size:28px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:74px;
  width:851px;
  height:44px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0033FF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:83px;
  width:198px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0033FF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:743px;
  width:757px;
  height:224px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:437px;
  width:757px;
  height:224px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:478px;
  width:703px;
  height:99px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:105px;
  height:30px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:117px;
  height:30px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:122px;
  height:30px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:0px;
  width:124px;
  height:30px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:0px;
  width:117px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:30px;
  width:105px;
  height:30px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:30px;
  width:117px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:30px;
  width:122px;
  height:30px;
  color:#0033FF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:30px;
  width:124px;
  height:30px;
  font-size:10px;
  color:#000000;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:30px;
  width:117px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:39px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:60px;
  width:105px;
  height:39px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:39px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:60px;
  width:117px;
  height:39px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:60px;
  width:122px;
  height:39px;
  color:#0033FF;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:60px;
  width:124px;
  height:39px;
  font-size:10px;
  color:#000000;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:39px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:60px;
  width:117px;
  height:39px;
  font-size:10px;
  color:#000000;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:157px;
  width:757px;
  height:224px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:193px;
  width:586px;
  height:99px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:105px;
  height:30px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:117px;
  height:30px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:122px;
  height:30px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:0px;
  width:124px;
  height:30px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:30px;
  width:105px;
  height:30px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:30px;
  width:117px;
  height:30px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:30px;
  width:122px;
  height:30px;
  color:#0033FF;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:30px;
  width:124px;
  height:30px;
  font-size:10px;
  color:#000000;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:39px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:60px;
  width:105px;
  height:39px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:39px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:60px;
  width:117px;
  height:39px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:60px;
  width:122px;
  height:39px;
  color:#0033FF;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:60px;
  width:124px;
  height:39px;
  font-size:10px;
  color:#000000;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:797px;
  width:741px;
  height:101px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:67px;
  height:36px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:74px;
  height:36px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:63px;
  height:36px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:0px;
  width:52px;
  height:36px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:48px;
  height:36px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:56px;
  height:36px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:68px;
  height:36px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:0px;
  width:153px;
  height:36px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:0px;
  width:85px;
  height:36px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:75px;
  height:30px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:36px;
  width:67px;
  height:30px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:36px;
  width:74px;
  height:30px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:36px;
  width:63px;
  height:30px;
  color:#0033FF;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:36px;
  width:52px;
  height:30px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:36px;
  width:48px;
  height:30px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:36px;
  width:56px;
  height:30px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:36px;
  width:68px;
  height:30px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:36px;
  width:153px;
  height:30px;
  font-size:10px;
  color:#000000;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:36px;
  width:85px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:75px;
  height:35px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:66px;
  width:67px;
  height:35px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:66px;
  width:74px;
  height:35px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:66px;
  width:63px;
  height:35px;
  color:#0033FF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:66px;
  width:52px;
  height:35px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:66px;
  width:48px;
  height:35px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:66px;
  width:56px;
  height:35px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:66px;
  width:68px;
  height:35px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:66px;
  width:153px;
  height:35px;
  font-size:10px;
  color:#000000;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:66px;
  width:85px;
  height:35px;
  text-decoration:underline;
  color:#0033FF;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:391px;
  width:154px;
  height:28px;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:193px;
  width:132px;
  height:45px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:767px;
  width:132px;
  height:45px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:460px;
  width:132px;
  height:45px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:248px;
  width:300px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:515px;
  width:300px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:822px;
  width:300px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
