body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:25px;
  width:300px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#0033FF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:141px;
  width:437px;
  height:150px;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:321px;
  height:30px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:30px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:321px;
  height:30px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:116px;
  height:30px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:60px;
  width:321px;
  height:30px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:116px;
  height:30px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:90px;
  width:321px;
  height:30px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:116px;
  height:30px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:120px;
  width:321px;
  height:30px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:91px;
  width:300px;
  height:34px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:325px;
  width:140px;
  height:40px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
